*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Intel-One-Mono';
    src: url('../src/lib/assets/IntelOneMono-VariableFont_wght.ttf') format('opentype');
}

html {
    font-family: Intel-One-Mono, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }

    color-scheme: dark light;
}

h1,h2,h3,h4 {
    font-weight: 400;
}


:root {
    --color-primary: #199db7;
    --color-background: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #fff;
        --color-background: #000;
    }
}

html:has(#theme-toggle:checked) {
    color-scheme: dark;
    --color-primary: #fff;
    --color-background: #000;
}

body {
    background-color: black;
    color: var(--color-primary);
}
